.div_1{
    text-align: center;
}
h1{
    color: red;
}
h2{
    color: blueviolet;
}
#metn{
    color: rgb(206, 193, 11);
}
.vizyon{
    text-align: left;
    color: rgb(206, 193, 11);
}
.lorem{
    text-align: left;
}